@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

.my-bg-band1 {
    @apply bg-gradient-to-tr from-band1-dark via-band1 to-band1-light;
}

.my-bg-band2 {
    @apply bg-gradient-to-tr from-band2-dark via-band2 to-band2-light;
}

.hover-bg-band2:hover {
    @apply bg-gradient-to-tr from-accent-dark via-accent to-accent-light;
}

.my-bg-band3 {
    @apply bg-gradient-to-tr from-band3-dark via-band3 to-band3-light;
}

.my-green-grd {
    @apply bg-gradient-to-tr from-green-700 via-green-600 to-green-400;
}

.my-red-grd {
    @apply bg-gradient-to-tr from-red-700 via-red-600 to-red-400;
}

.my-gray-grd {
    @apply bg-gradient-to-tr from-gray-600 via-gray-400 to-gray-200;
}

@keyframes fadeInOut {
    0%, 100% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
  }
  
  @keyframes rotateLeftRight {
    0%, 100% {
      transform: rotate(-10deg); /* Rotate left */
    }
    50% {
      transform: rotate(10deg); /* Rotate right */
    }
  }
  
  /* .envelope-animation {
    animation: fadeInOut 2s infinite, rotateLeftRight 1.4s infinite;
  } */
  
  .envelope-animation {
    animation: rotateLeftRight 1.4s infinite;
  }